/* @font-face {
    font-family: dreamscape;
    src: url('../fuentes/Dreamscape.ttf');

} */

.pageSpace {
    position: absolute;
}

a {
    text-decoration: none;
}


@media (min-width: 0px) and (max-width: 950px) {
    .pageSpace {
        cursor: none;
        overflow: hidden;
        font-family: dreamscape;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    body {
        cursor: none;
        font-family: dreamscape;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }


    .tracker {
        display: none;
    }

    .tracker2 {
        display: none;
    }

    .martes {
        position: absolute;
        top: -5%;
        left: 60%;
        width: 17vh;

    }

    .planeta {
        position: absolute;
        top: 80%;
        left: -50%;
        width: 35vh;
    }

    .moon {
        position: absolute;
        top: 20%;
        left: -10%;
        width: 15vh;
    }

    .planetas-back {
        background-color: #380E64;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .main-menu {
        display: none;
    }

    .main-inicio {
        width: 100%;
        height: 80%;
    }

    .main-nombre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-movil {
        color: #FFE02F;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }






    .header {
        width: 100%;
        height: 10%;
        z-index: 100;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        color: white;

    }

    .a {
        color: #EEEBDD;
        text-decoration: none;
    }

    .header .svg {
        width: 2em;
        height: 2em;
        fill: #1B1717;
    }

    .item {
        width: 100%;
        height: 15%;
        margin-bottom: 1%;
        background-color: #380E64;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .item a {
        height: 75%;
        width: 45%;
        background-color: #FFE02F;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #1B1717;
        font-size: 1.75vh;
    }

    .itemOpciones {
        width: 100%;
        height: 15%;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .itemOpciones a {
        font-size: 1.75vh;
        width: 35%;
        height: 75%;
        background-color: #FFE02F;
        border-radius: 1vh;
        color: #1B1717;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    .header .ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

    }

    .header .li {
        margin: 0 .5em;
        background-color: #380E64;
        width: 100%;
    }

    .header .button {
        font-family: dreamscape;
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        border: none;
        background: none;
        color: #FFE02F;
        font-size: 2.5vh;
        border-radius: .5vh;
        margin-bottom: 1vh;
    }


    .header .button.activo {
        background-color: #5F328B;
        margin-bottom: 0vh;
    }

    .header .nav {
        width: 100%;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .header .nav.activo {
        background-color: #5F328B;
        display: block;
        height: 40vh;
        pointer-events: auto;
    }

    .header .ul {
        flex-direction: column;
    }

    .header .li {
        margin: 1rem 0;
    }










    .footer {
        display: none;
    }


    .footer-movil {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-movil a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5F328B;
        border-radius: 50%;
        height: 7.5vh;
        width: 7.5vh;
    }

    .footer-movil a img {
        height: 65%;
        width: auto;
    }

    .main-nombre p {
        margin: 0%;
        color: #BFE4F8;
        margin-top: 1vh;
        font-size: 6.75vh;
    }

    .epilogo {
        color: #FFE02F;
        font-size: 2.5vh;
    }

    /* /////////////////////////// Quien soy movil  //////////////////////////////// */


    .main-quiensoy {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #reflector_quiensoy {
        width: 20.6vh;
        height: 19.5vh;
    }

    .conteiner-quiensoy-space {
        border-radius: 1vh;
        padding: 1vh;
        width: 75%;
        height: auto;
        background-color: #5F318B;
        color: #BFE4F8;
    }

    .conteiner-quiensoy-space p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vh;
        text-align: center;

    }

    .quiensoy-titulo {
        display: none;
    }

    .quiensoy-titulo-movil {
        color: #BFE4F8;
        font-size: 3.75vh;
        margin-bottom: 1vh;
    }

    /* ///////////////////////////  Quien soy movil //////////////////////////////// */

    /* /////////////////////////// Proyectos movil  //////////////////////////////// */

    .main-proyecto {
        display: none;
    }

    .main-proyecto-movil {
        width: 100%;
        height: 100%;

    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

    }

    .slider {
        position: relative;
        width: 100%;
        height: 80%;
        text-align: center;
    }

    .slider-slides {
        position: relative;
        height: 100%;
    }

    .proyecto1 {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #5F328B;
        border-radius: 1vh;
    }


    .slider-slide-movil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
    }

    .slider-slide-movil.active {
        opacity: 1;
        visibility: visible;
    }

    .slider-btns {
        position: absolute;
        width: 100%;
        top: calc(50% - 2rem);
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: bold;
        color: white;

    }

    .prev,
    .next {
        font-size: 10vh;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }

    .titulo-proyecto {
        font-size: 3.85vh;
        color: #BFE4F8;
        margin-bottom: 2.5vh;
    }

    .tecnologias-construccion {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2vh;
        width: 100%;
        height: 30%;

    }


    .tecnologias-construccion img {
        height: 100%;

    }

    .conteiner-main-proyecto {
        width: 100%;
        height: 33%;
    }

    .conteiner-main-proyecto.links {
        width: 100%;
        height: 25%;
    }


    .conteiner-button-proyecto {
        width: 100%;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFE02F;
        width: 23vh;
        height: 5.1vh;
        border-radius: .5vh;
        margin-left: 1vh;
    }

    a.button-proyecto {
        color: #1B1717;
        text-decoration: none;
    }


    /* /////////////////////////// Proyectos movil  //////////////////////////////// */



    /* ///////////////////////////  habilidades movil //////////////////////////////// */


    .main-habilidades {
        display: none;
    }

    .main-habilidades-movil {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5F318B;
        border-radius: 1vh;
        width: 75%;
    }

    .conteudo .row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 25%;
    }

    .conteudo img {
        width: 25%;
        margin: 5%;
    }


    /* ///////////////////////////  habilidades movil //////////////////////////////// */





    /* ///////////////////////////  contacto movil //////////////////////////////// */

    .conteinerContacto form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteinerContacto {
        border-radius: 1vh;
        padding: 2vh;
        width: 75%;
        background-color: #5F328B;
    }

    .conteinerContacto form input {
        height: 4.5vh;
        border-radius: 0.5vh;
        cursor: none;
        width: 100%;
        margin: 1vh;
        border: none;
        color: #BFE4F8;
        background-color: #380E64;
    }

    .conteinerContacto form input::placeholder {
        padding: 1vh;
        font-family: dreamscape;
        color: #BFE4F8;
    }

    .conteinerContacto form input:focus::placeholder {
        color: #380E64;
    }


    .conteinerContacto form textarea {
        height: 4.5vh;
        border-radius: 0.5vh;
        width: 100%;
        margin: 1vh;
        border: none;
        color: #BFE4F8;
        background-color: #380E64;
        cursor: none;
        max-height: 9vh;
    }

    .conteinerContacto form textarea::placeholder {
        padding: 1vh;
        font-family: dreamscape;
        color: #BFE4F8;
    }

    .conteinerContacto form textarea:focus::placeholder {
        color: #380E64;
    }

    .conteinerContacto input.button {
        font-family: dreamscape;
        background-color: #FFE02F;
        color: #380E64;
        width: 25%;
    }

    .conteinerContacto input.button:hover {
        background-color: #ffec83;
    }

    /* ///////////////////////////   contacto movil  //////////////////////////////// */





}


@media (min-width: 951px) and (max-width: 1199px) {

    .menu-item img {
        width: 100%;
    }


    a.button-proyecto {
        color: #1B1717;
        text-decoration: none;
    }

    .pageSpace {
        cursor: none;
        overflow: hidden;
        font-family: dreamscape;
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }


    .tracker {
        display: none;
    }

    .tracker2 {
        display: none;
    }

    .martes {
        position: absolute;
        top: -5%;
        left: 60%;
        width: 17vh;

    }

    .planeta {
        position: absolute;
        top: 80%;
        left: -50%;
        width: 35vh;
    }

    .moon {
        position: absolute;
        top: 20%;
        left: -10%;
        width: 15vh;
    }

    .planetas-back {
        background-color: #380E64;
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .main-menu {
        display: none;
    }

    .main-inicio {
        width: 100%;
        height: 80%;
    }

    .main-nombre {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-movil {
        color: #FFE02F;
        width: 100%;
        height: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }






    .header {
        width: 100%;
        height: 10%;
        z-index: 100;
        position: relative;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        color: white;

    }

    .a {
        color: #EEEBDD;

    }

    .header .svg {
        width: 2em;
        height: 2em;
        fill: #1B1717;
    }

    .item {
        width: 100%;
        height: 12%;
        margin-bottom: 1%;
        background-color: #380E64;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .item a {
        height: 75%;
        width: 45%;
        background-color: #FFE02F;
        border-radius: 1vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #1B1717;
        font-size: 1.75vh;
    }

    .itemOpciones {
        width: 100%;
        height: 15%;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }


    .itemOpciones a {
        font-size: 1.75vh;
        width: 35%;
        height: 75%;
        background-color: #FFE02F;
        border-radius: 1vh;
        color: #1B1717;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    .header .ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;

    }

    .header .li {
        margin: 0 .5em;
        background-color: #380E64;
        width: 100%;
    }

    .header .button {
        font-family: dreamscape;
        width: 100%;
        height: 100%;
        display: block;
        cursor: pointer;
        border: none;
        background: none;
        color: #FFE02F;
        font-size: 2.5vh;
        border-radius: .5vh;
        margin-bottom: 1vh;
    }


    .header .button.activo {
        background-color: #5F328B;
        margin-bottom: 0vh;
    }

    .header .nav {
        width: 100%;
        height: 0;
        pointer-events: none;
        overflow: hidden;
        transition: all .5s ease;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .header .nav.activo {
        background-color: #5F328B;
        display: block;
        height: 40vh;
        pointer-events: auto;
    }

    .header .ul {
        flex-direction: column;
    }

    .header .li {
        margin: 1rem 0;
    }










    .footer {
        display: none;
    }


    .footer-movil {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .footer-movil a {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5F328B;
        border-radius: 50%;
        height: 7.5vh;
        width: 7.5vh;
    }

    .footer-movil a img {
        height: 65%;
        width: auto;
    }

    .main-nombre p {
        margin: 0%;
        color: #BFE4F8;
        margin-top: 1vh;
        font-size: 6.75vh;
    }

    .epilogo {
        color: #FFE02F;
        font-size: 2.5vh;
    }

    /* /////////////////////////// Quien soy movil  //////////////////////////////// */


    .main-quiensoy {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    #reflector_quiensoy {
        width: 20.6vh;
        height: 19.5vh;
    }

    .conteiner-quiensoy-space {
        border-radius: 1vh;
        padding: 1vh;
        width: 75%;
        height: auto;
        background-color: #5F318B;
        color: #BFE4F8;
    }

    .conteiner-quiensoy p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2vh;
        text-align: center;

    }

    .quiensoy-titulo {
        display: none;
    }

    .quiensoy-titulo-movil {
        color: #BFE4F8;
        font-size: 3.75vh;
        margin-bottom: 1vh;
    }

    /* ///////////////////////////  Quien soy movil //////////////////////////////// */

    /* /////////////////////////// Proyectos movil  //////////////////////////////// */

    .main-proyecto {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-proyecto-movil {
        display: none;


    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;

    }

    .slider {
        position: relative;
        width: 100%;
        height: 80%;
        text-align: center;
    }

    .slider-slides {
        position: relative;
        height: 100%;
    }

    .proyecto1 {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #5F328B;
        border-radius: 1vh;
    }


    .slider-slide-movil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
    }

    .slider-slide-movil.active {
        opacity: 1;
        visibility: visible;
    }

    .slider-btns {
        position: absolute;
        width: 100%;
        top: calc(50% - 2rem);
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: bold;
        color: white;

    }

    .prev,
    .next {
        font-size: 10vh;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }

    .titulo-proyecto {
        font-size: 3.85vh;
        color: #BFE4F8;
        margin-bottom: 2.5vh;
    }

    .tecnologias-construccion {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2vh;
        width: 100%;
        height: 30%;

    }


    .tecnologias-construccion img {
        height: 100%;

    }

    .conteiner-main-proyecto {
        width: 100%;
        height: 33%;
    }

    .conteiner-main-proyecto.links {
        width: 100%;
        height: 25%;
    }


    .conteiner-button-proyecto {
        width: 100%;
        height: 50%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFE02F;
        width: 23vh;
        height: 5.1vh;
        border-radius: .5vh;
        margin-left: 1vh;
    }



    /* /////////////////////////// Proyectos movil  //////////////////////////////// */



    /* ///////////////////////////  habilidades movil //////////////////////////////// */


    .main-habilidades {
        display: none;
    }

    .main-habilidades-movil {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #5F318B;
        border-radius: 1vh;
        width: 75%;
    }

    .conteudo .row {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        height: 25%;
    }

    .conteudo img {
        width: 25%;
        margin: 5%;
    }


    /* ///////////////////////////  habilidades movil //////////////////////////////// */





    /* ///////////////////////////  contacto movil //////////////////////////////// */

    .conteinerContacto form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteinerContacto {
        border-radius: 1vh;
        padding: 2vh;
        width: 75%;
        background-color: #5F328B;
    }

    .conteinerContacto form input {
        height: 4.5vh;
        border-radius: 0.5vh;
        cursor: none;
        width: 100%;
        margin: 1vh;
        border: none;
        color: #BFE4F8;
        background-color: #380E64;
    }

    .conteinerContacto form input::placeholder {
        padding: 1vh;
        font-family: dreamscape;
        color: #BFE4F8;
    }

    .conteinerContacto form input:focus::placeholder {
        color: #380E64;
    }


    .conteinerContacto form textarea {
        height: 4.5vh;
        border-radius: 0.5vh;
        width: 100%;
        margin: 1vh;
        border: none;
        color: #BFE4F8;
        background-color: #380E64;
        cursor: none;
        max-height: 9vh;
    }

    .conteinerContacto form textarea::placeholder {
        padding: 1vh;
        font-family: dreamscape;
        color: #BFE4F8;
    }

    .conteinerContacto form textarea:focus::placeholder {
        color: #380E64;
    }

    .conteinerContacto input.button {
        font-family: dreamscape;
        background-color: #FFE02F;
        color: #380E64;
        width: 25%;
    }

    .conteinerContacto input.button:hover {
        background-color: #ffec83;
    }

    /* ///////////////////////////   contacto movil  //////////////////////////////// */


}


@media (min-width: 1200px) {
    #header-movil {
        display: none;
    }





    .pageSpace {
        cursor: none;
        overflow: hidden;
        font-family: dreamscape;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    .tracker {
        position: fixed;
        transform: translate(-50%, -50%);
        z-index: 9999;
        pointer-events: none;

    }

    .tracker svg {
        width: 5vh;
        height: auto;
    }



    .tracker2 {
        position: fixed;
        transform: translate(-50%, -50%);
        z-index: 9999;
        pointer-events: none;

    }

    .tracker2 svg {
        width: 5vh;
        height: auto;
    }

    .tracker.hidden {
        display: none;
    }

    .tracker2.hidden {
        display: none;
    }




    .planetas-back {
        z-index: -1;
        background-color: #380E64;
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .martes {
        position: absolute;
        top: -20%;
        left: 85%;
        width: 35vh;
    }

    .planeta {
        position: absolute;
        left: -5%;
        top: 80%;
        width: 50vh;

    }

    .moon {
        position: absolute;
        width: 50vh;
        top: -25%;
    }


    /* /////////////////////////// menu footer  //////////////////////////////// */

    .footer {
        width: 100%;
        height: 10vh;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }



    .footer span img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }




    .wrapper {
        display: inline-flex;
        list-style: none;
    }


    .wrapper .icon {
        position: relative;
        background: #5F328B;
        border-radius: 50%;
        padding: 15px;
        margin: 10px;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .wrapper .tooltip {
        text-align: center;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: dreamscape;
        width: 15vh;
        height: 5vh;
        position: absolute;
        top: 0;
        font-size: 1vw;
        background: #FFE02F;
        color: black;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .wrapper .tooltip::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        background: #FFE02F;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .wrapper .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper a {
        cursor: none;
    }

    .wrapper .icon:hover span,
    .wrapper .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .wrapper .facebook:hover,
    .wrapper .facebook:hover .tooltip,
    .wrapper .facebook:hover,
    .tooltip::before {
        background-color: black;
        color: white;
    }

    /* /////////////////////////// menu footer  //////////////////////////////// */


    /* /////////////////////////// menu derecha  //////////////////////////////// */


    .main-inicio .main-menu {
        width: 15vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .main-inicio .main-menu .menu-item {
        margin-top: 1vh;
        margin-right: 1vh;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.5vh;
        height: 8.5vh;
        border-radius: 50%;
        background-color: #5F328B;
    }

    .main-inicio .main-menu .menu-item img {
        height: 60%;
    }


    .wrapper-row {
        margin-left: 7.5vh;
    }


    .wrapper-row .icon {
        position: relative;
        border-radius: 50%;
        padding: 1.25vh;
        margin: 1.75vh;
        width: 4.75vh;
        height: 4.75vh;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }


    .wrapper-row .icon a {
        cursor: none;
    }

    .wrapper-row .tooltip {
        text-align: center;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: dreamscape;
        width: 15vh;
        height: 5vh;
        position: absolute;
        top: 0;
        font-size: 1vw;
        background: #FFE02F;
        color: black;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .wrapper-row .tooltip::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        background: #FFE02F;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .wrapper-row .icon:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .wrapper-row .icon:hover span,
    .wrapper-row .icon:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .wrapper-row .facebook:hover,
    .wrapper-row .facebook:hover .tooltip,
    .wrapper-row .facebook:hover,
    .tooltip::before {
        background-color: black;
        color: white;
    }

    /* /////////////////////////// menu derecha  //////////////////////////////// */


    /* /////////////////////////// inicio  //////////////////////////////// */

    .main-inicio {
        width: 100vw;
        height: 90vh;
        display: flex;
    }

    .main-inicio .main-nombre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85vw;
        height: 100%;
    }

    .main-inicio .main-nombre p {
        font-size: 5vw;
        margin: 0%;
        color: #BFE4F8;
        margin-top: 1%;
        margin-left: 20%;
    }

    .main-inicio .main-nombre p::selection {
        background-color: #776811;
    }


    .epilogo {
        font-size: 2.5vw;
        margin: 0%;
        color: #FFE02F;
        margin-top: 1%;
        margin-left: 20%;
    }

    .epilogo::selection {
        background-color: #4ebbf5;
    }



    /* /////////////////////////// inicio  //////////////////////////////// */



    /* /////////////////////////// quien soy //////////////////////////////// */
    #reflector_quiensoy {
        margin-left: 20%;
        margin-top: 2%;
        width: 20.6vh;
        height: 19.5vh;
    }

    .quiensoy-titulo-movil {
        display: none;
    }

    .main-inicio .main-quiensoy {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85vw;
        height: 100%;

    }

    .conteiner-quiensoy-space {
        margin-left: 20%;
        font-size: 2.5vh;
        text-align: center;
        border-radius: 2vh;
        padding: 2vh;
        width: 90.5vh;
        height: 50vh;
        background-color: #5F328B;
    }

    .conteiner-quiensoy-space p {
        font-family: Arial, Helvetica, sans-serif;
        color: white;

    }

    .quiensoy-titulo {
        color: #BFE4F8;
        font-size: 5vh;
    }





    .main-quiensoy svg {
        margin-left: 20%;
    }


    /* /////////////////////////// quien soy //////////////////////////////// */


    /* /////////////////////////// Habilidades //////////////////////////////// */
    .main-habilidades-movil {
        display: none;
    }

    .main-habilidades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 85vw;
        height: 100%;
    }


    .conteudo {
        display: inline-flex;
        justify-content: space-around;
        align-items: center;
        background-color: #5F328B;
        border-radius: 2.5vh;
        height: 17.5vh;
        width: 75%;
        margin-left: 20%;
        margin-top: 5%;

    }

    .conteudo img {

        filter: drop-shadow(0px 0px 1px #4b4b50);
        animation: flutuar 3s linear infinite;
    }

    .imagane-icon-habilidades {
        height: 10vh;
    }


    @keyframes flutuar {

        0%,
        100% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(-1.5vw);
        }
    }

    .imagane-icon-habilidades.css {
        animation-delay: .2s;
    }

    .imagane-icon-habilidades.js {
        animation-delay: .4s;
    }

    .imagane-icon-habilidades.bootstrap {
        animation-delay: .6s;
    }

    .imagane-icon-habilidades.git {
        animation-delay: .8s;
    }


    .imagane-icon-habilidades.nodejs {
        animation-delay: .6s;

    }

    .imagane-icon-habilidades.python {
        animation-delay: .4s;

    }

    .imagane-icon-habilidades.django {
        animation-delay: .2s;

    }







    .icon-habilidades {
        position: relative;
        width: 50px;
        height: 50px;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .tooltip {
        text-align: center;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: dreamscape;
        width: 15vh;
        height: 5vh;
        position: absolute;
        top: 0;
        font-size: 1vw;
        background: #FFE02F;
        color: black;
        padding: 5px 8px;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
        opacity: 0;
        pointer-events: none;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .tooltip::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        bottom: -3px;
        left: 50%;
        transform: translate(-50%) rotate(45deg);
        background: #FFE02F;
        transition: all 0.2s cubic-bezier(0.68, -0.55, 0.234, 1.55);
    }

    .icon-habilidades:hover .tooltip {
        top: -45px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .icon-habilidades:hover span,
    .icon-habilidades:hover .tooltip {
        text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
    }

    .facebook:hover,
    .facebook:hover .tooltip,
    .facebook:hover,
    .tooltip::before {
        background-color: #FFE02F;
        color: white;
    }




    /* /////////////////////////// Habilidades //////////////////////////////// */


    /* /////////////////////////// proyecto //////////////////////////////// */
    .main-proyecto-movil {
        display: none;
    }

    .main-proyecto {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 75%;
        margin-left: 20%;

    }

    .slider {
        position: relative;
        width: 100%;
        margin: 1rem auto;
        text-align: center;
    }

    .slider-slides {
        position: relative;
        height: 70vh;
    }

    .proyecto1 {
        width: 80%;
        height: 100%;
        background-color: #5F328B;
        border-radius: 1vh;
    }


    .slider-slide {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
    }

    .slider-slide.active {
        opacity: 1;
        visibility: visible;
    }

    .slider-btns {
        position: absolute;
        width: 100%;
        top: calc(50% - 2rem);
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: bold;
        color: white;

    }

    .prev,
    .next {
        font-size: 10vh;
        font-weight: 100;
        font-family: Arial, Helvetica, sans-serif;
    }

    .titulo-proyecto {
        font-size: 3.85vh;
        color: #BFE4F8;
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }

    .tecnologias-construccion {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 2vh;

    }

    .conteiner-main-proyecto {
        margin-top: 3.5vh;
        width: auto;
        height: auto;
    }

    .conteiner-button-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button-proyecto {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFE02F;
        width: 23vh;
        height: 5.1vh;
        border-radius: .5vh;
        margin-left: 1vh;
    }


    a.button-proyecto {
        color: #1B1717;
        text-decoration: none;
        cursor: none;

    }

    /* /////////////////////////// proyecto //////////////////////////////// */

    /* /////////////////////////// contacto //////////////////////////////// */

    .conteinerContacto form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .conteinerContacto {
        margin-left: 20%;
        border-radius: 1vh;
        padding: 2vh;
        background-color: #5F328B;
    }

    .conteinerContacto form input {
        height: 4.5vh;
        border-radius: 0.5vh;
        cursor: none;
        width: 42vh;
        margin: 1vh;
        border: none;
        color: #BFE4F8;
        background-color: #380E64;
    }

    .conteinerContacto form input::placeholder {
        padding: 1vh;
        font-family: dreamscape;
        color: #BFE4F8;
    }

    .conteinerContacto form input:focus::placeholder {
        color: #380E64;
    }


    .conteinerContacto form textarea {
        height: 4.5vh;
        border-radius: 0.5vh;
        width: 42vh;
        margin: 1vh;
        border: none;
        color: #BFE4F8;
        background-color: #380E64;
        cursor: none;
        max-height: 9vh;
    }

    .conteinerContacto form textarea::placeholder {
        padding: 1vh;
        font-family: dreamscape;
        color: #BFE4F8;
    }

    .conteinerContacto form textarea:focus::placeholder {
        color: #380E64;
    }

    .conteinerContacto input.button {
        font-family: dreamscape;
        background-color: #FFE02F;
        color: #380E64;
        width: 25%;
    }

    .conteinerContacto input.button:hover {
        background-color: #ffec83;
    }





    /* /////////////////////////// contacto //////////////////////////////// */
}